@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  height: 0;
  /* Add the correct box sizing in Firefox */
  overflow: visible;
  /* Show the overflow in Edge and IE */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
}

iframe {
  border-style: none;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  appearance: none;
  /* Firefox 36+ */
  appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentcolor;
  /* Internet Explorer 11+ */
}

legend {
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
}

::-webkit-file-upload-button {
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
  color: inherit;
  /* Correct the inability to style clickable types in iOS and Safari */
  appearance: button;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/* ----------------------------------------
	共通部分
---------------------------------------- */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "palt";
  color: #fff;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

li {
  list-style: none;
}

/* header
------------------------------------------------------ */
.header__inner {
  z-index: 20;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    height: 90px;
    padding: 30px;
  }
}

.header__logo {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1;
}

.header__link {
  color: #d136d1;
}

.header-nav {
  display: flex;
}

.header-nav__item {
  list-style: none;
}

.header-nav__link {
  margin-left: 15px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .header-nav__link {
    margin-left: 30px;
    font-size: 1rem;
  }
}

/* footer
------------------------------------------------------ */
.footer {
  background-color: #141414;
}

.footer__inner {
  padding: 50px 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 70px 20px;
  }
}
.footer__inner .copyright {
  font-size: 0.6875rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .footer__inner .copyright {
    font-size: 0.875rem;
  }
}

/* mv
------------------------------------------------------ */
.mv {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(135deg, #0e002e 0%, #1e092b 23%, #320c65 49%, #a01b7c 80%, #c21780 100%);
}

.mv__inner {
  display: flex;
  max-width: 1240px;
  height: 450px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    height: 700px;
    padding: 0 50px;
  }
}

.mv__title-area {
  z-index: 1;
  padding-top: 75px;
}
@media screen and (min-width: 768px) {
  .mv__title-area {
    padding-top: 156px;
  }
}

.mv__title-area::after {
  position: absolute;
  bottom: 35%;
  left: 48%;
  display: inline-block;
  width: 153px;
  height: 64px;
  content: "";
  background-image: url(../../images/teiji-de-kaerumon.svg);
  background-size: contain;
}
@media screen and (min-width: 576px) {
  .mv__title-area::after {
    bottom: 29%;
    left: 51%;
  }
}
@media screen and (min-width: 768px) {
  .mv__title-area::after {
    bottom: 175px;
    left: 382px;
    width: 355px;
    height: 140px;
  }
}

.mv__sub-title {
  margin-bottom: 0.8em;
  font-weight: bold;
  line-height: 1.3;
  color: #d136d1;
}
@media screen and (min-width: 768px) {
  .mv__sub-title {
    font-size: 1.5rem;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .mv__sub-title-br {
    display: none;
  }
}

.mv__title {
  margin-bottom: 10px;
  font-size: clamp(1.5rem, 10vw, 6.25rem);
  font-weight: bold;
  line-height: 1;
}

.mv__date {
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.07em;
}
@media screen and (min-width: 768px) {
  .mv__date {
    font-size: 2.25rem;
  }
}

.mv__speaker-name {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.75rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .mv__speaker-name {
    font-size: 1.3125rem;
  }
}

.mv__speaker-name-label {
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  .mv__speaker-name-label {
    font-size: 0.75rem;
  }
}

.mv__img {
  position: absolute;
  top: 3px;
  right: -80px;
  width: 340px;
}
@media screen and (min-width: 768px) {
  .mv__img {
    top: -36px;
    right: 0;
    width: auto;
  }
}

/* section
------------------------------------------------------ */
.section__inner {
  max-width: 1170px;
  padding: 50px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section__inner {
    padding: 110px 30px;
  }
}

.section__title {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 60px;
  }
}

.section__title-main {
  margin-bottom: 5px;
  font-size: 2rem;
  line-height: 1;
  color: #d136d1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .section__title-main {
    margin-bottom: 10px;
    font-size: 3.75rem;
  }
}

.section__title-sub {
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .section__title-sub {
    font-size: 1.25rem;
  }
}

.section-about,
.section-session {
  background-color: #141414;
}

.section-speaker {
  background-image: linear-gradient(135deg, #0e002e 0%, #1e092b 23%, #320c65 49%, #a01b7c 80%, #c21780 100%);
}

.section-registor {
  background-image: url(../../images/bg.png);
  background-repeat: repeat;
}

/* ボタン
------------------------------------------------------ */
.btn {
  display: inline-block;
  width: 180px;
  max-width: 100%;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  border-radius: 50px;
  box-shadow: 0 6px 0 #dd118e;
  transition: 0.25s;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 300px;
    padding: 24px 10px;
    font-size: 1.125rem;
    box-shadow: 0 10px 0 #dd118e;
  }
}

.btn:hover {
  box-shadow: 0 6px 0 #dd118e;
  transform: translateY(4px);
}

/* about
------------------------------------------------------ */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
  }
}

.about__img-wrapper {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__img-wrapper {
    flex: 0 1 40%;
    margin-right: 9.33333%;
  }
}

.about__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center 38%;
}
@media screen and (min-width: 768px) {
  .about__img {
    height: auto;
    object-fit: fill;
    object-position: 50% 50%;
  }
}

.about__body {
  flex: 1;
}

.about__body > *:last-child {
  margin-bottom: 0;
}

.about__subtitle {
  margin-bottom: 16px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

.about__title {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  color: #d136d1;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 3rem;
  }
}

.about__text {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 20px;
    font-size: 1.125rem;
    line-height: 1.8;
  }
}

.about__info-wrapper {
  margin-bottom: 20px;
}

.about__info {
  display: flex;
  padding: 5px 0;
  font-size: 0.9375rem;
}

.about__info-date {
  flex: 0 0 15%;
}

.about__info-text {
  flex: 1 1 auto;
}

.about__btn {
  width: 230px;
  font-size: 1.125rem;
}

/* speaker
------------------------------------------------------ */
.speaker {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .speaker {
    flex-direction: row;
  }
}
.speaker:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .speaker--reverse {
    flex-direction: row-reverse;
  }
}

.speaker--reverse .speaker__img-wrapper {
  margin-right: 0;
}

.speaker__img-wrapper {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .speaker__img-wrapper {
    flex: 0 1 40%;
    margin-right: 5.12%;
  }
}

.speaker--reverse .speaker__body {
  margin-right: 5.12%;
}

.speaker__img {
  width: 100%;
}

.speaker__body {
  flex: 1;
}

.speaker__body > *:last-child {
  margin-bottom: 0;
}

.speaker__name {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .speaker__name {
    margin-bottom: 40px;
  }
}

.speaker__name-main {
  margin-bottom: 5px;
  font-size: 2rem;
  line-height: 1;
  color: #d136d1;
}
@media screen and (min-width: 768px) {
  .speaker__name-main {
    font-size: 2.625rem;
  }
}

.speaker__name-sub {
  font-size: 0.875rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .speaker__name-sub {
    font-size: 1.125rem;
  }
}

.speaker__text {
  margin-bottom: 15px;
  font-size: 0.875rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .speaker__text {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.8;
  }
}

/* table
------------------------------------------------------ */
.table__inner {
  width: 100%;
  border-collapse: collapse;
  /* セル同士の間に隙間を開けない */
}

.table__header {
  width: 80px;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #d136d1;
}
@media screen and (min-width: 768px) {
  .table__header {
    width: 200px;
    padding: 40px 30px;
    font-size: 1.375rem;
  }
}

@media screen and (min-width: 768px) {
  .table__header-br {
    display: none;
  }
}

.table__text {
  padding: 20px 0;
  border-bottom: 1px solid #d136d1;
}
@media screen and (min-width: 768px) {
  .table__text {
    padding: 40px 30px;
  }
}

.table__title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #d136d1;
}
@media screen and (min-width: 768px) {
  .table__title {
    margin-bottom: 15px;
    font-size: 1.375rem;
  }
}

.table__sentence {
  font-size: 0.8125rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .table__sentence {
    font-size: 0.9375rem;
  }
}

/* ----------------------------------------
	Form Parts
---------------------------------------- */
/* 各フォーム部品の基本スタイルを上書きします */
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
textarea,
select {
  /* ブラウザ標準スタイルを無効にする */
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  appearance: none;
  appearance: none;
}

.form-container {
  padding: 8%;
  background-color: #1a1a1a;
  border: 5px solid #d136d1;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .form-container {
    padding: 90px;
  }
}

.form__item {
  margin-bottom: 30px;
}

.form__item:nth-last-child(2) {
  margin-bottom: 50px;
}

.form__ttl {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form__body {
  width: 100%;
}

input[type=radio] + span {
  padding-left: 5px;
  margin-right: 35px;
}

.form__textarea {
  min-width: 100%;
  min-height: 200px;
}
@media screen and (min-width: 768px) {
  .form__textarea {
    min-width: 600px;
  }
}

.form__btn {
  text-align: center;
}

/* 入力フィールド
--------------------------------- */
@media screen and (min-width: 768px) {
  .inputField {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .inputField--tel {
    width: 200px;
  }
}

/* 補足説明文
--------------------------------- */
.form__note {
  margin-left: 5px;
  font-size: 0.75rem;
}

/* 水平ラジオボタン選択肢リスト
--------------------------------- */
@media screen and (min-width: 768px) {
  .radioList {
    display: flex;
    align-items: center;
  }
}

/* セレクトボックス
------------------------------------ */
select {
  display: block;
  width: 100%;
  padding: 10px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  appearance: none;
}

/* 必須・任意ラベル
--------------------------------- */
.label-required {
  margin-left: 10px;
  font-size: 0.75rem;
  color: #d136d1;
}

/* page-top
------------------------------------------------------ */
.page-top {
  z-index: 10;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}
@media screen and (min-width: 768px) {
  .page-top {
    right: 40px;
    bottom: 40px;
  }
}

.page-top__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  .page-top__link {
    width: 80px;
    height: 80px;
  }
}

.page-top__link::after {
  font-family: "Material Icons Round";
  font-size: 1.5rem;
  color: #fff;
  content: "\e316";
}
@media screen and (min-width: 768px) {
  .page-top__link::after {
    font-size: 2.5rem;
  }
}

/* swiper
------------------------------------------------------ */
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 39px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .swiper-button-next,
.swiper-button-prev {
    top: 335px;
    width: 60px;
    height: 60px;
  }
}

.swiper-button-prev {
  left: -20px;
}
@media screen and (min-width: 992px) {
  .swiper-button-prev {
    left: -30px;
  }
}

.swiper-button-next {
  right: -20px;
}
@media screen and (min-width: 992px) {
  .swiper-button-next {
    right: -30px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: "Material Icons Round";
  font-size: 1.5rem;
  color: #d136d1;
}
@media screen and (min-width: 992px) {
  .swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 2rem;
  }
}

.swiper-button-prev::after {
  content: "navigate_before";
}

.swiper-button-next::after {
  content: "navigate_next";
}

.swiper-pagination-bullet-active {
  background: #d136d1;
}
/*# sourceMappingURL=style.css.map */